@model IEnumerable<Project1.Web.Models.FoodCategory>

@{
    ViewData["Title"] = "Index";
}

<h1 style="background-color:#FCF86F">Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style="background-color:#E2C1F4">
    <thead>
        <tr style="background-color:#D231F6">
            <th>
                @Html.DisplayNameFor(model => model.FoodcategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodcategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FoodcategoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FoodcategoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FoodcategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
