@model IEnumerable<Project1.Web.Models.Foodmenu>

@{
    ViewData["Title"] = "Index";
}

<h1 style="background-color:#FCF86F">Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style="background-color:#E2C1F4">
    <thead>
        <tr style="background-color:#D231F6">
            <th>
                @Html.DisplayNameFor(model => model.FoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Confirmed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodCategory.FoodcategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Confirmed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FoodId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FoodId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FoodId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
